<aside class="left-sidebar" data-sidebarbg="skin5">
  <div class="scroll-sidebar">
      <nav class="sidebar-nav">
          <ul id="sidebarnav" class="p-t-30">
              <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/home" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
              <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Category </span></a>
                  <ul aria-expanded="false" class="collapse  first-level">
                      <li class="sidebar-item"><a href="/addCategory" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                      <li class="sidebar-item"><a href="/viewCategory" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> View </span></a></li>
                  </ul>
              </li>
              <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Sub Category </span></a>
                  <ul aria-expanded="false" class="collapse  first-level">
                      <li class="sidebar-item"><a href="/AddSubCategory" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                      <li class="sidebar-item"><a href="/viewSubCategory" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> View </span></a></li>
                  </ul>
              </li>
              <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Product </span></a>
                  <ul aria-expanded="false" class="collapse  first-level">
                      <li class="sidebar-item"><a href="/addProduct" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Add </span></a></li>
                      <li class="sidebar-item"><a href="/viewProduct" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> View </span></a></li>
                  </ul>
              </li>
            
          </ul>
      </nav>
  </div>
</aside>